[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# element order
dotnet_diagnostic.SA1201.severity = none

# do not force readonly
dotnet_diagnostic.IDE0044.severity = none

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = never
dotnet_diagnostic.SA1400.severity = none

# Enums should be documented
dotnet_diagnostic.SA1602.severity = none
