[Desktop Entry]
Version=1.0
Type=Application
Name=NAZDAR! The Game
GenericName=Strategy Game
Comment=Build your armored train and defend it against the bloody Bolsheviks
Exec=nazdar-launcher.sh
Icon=cz.skoula.nazdar
Terminal=false
Categories=Game;StrategyGame;
Keywords=game;strategy;train;defense;
StartupNotify=true
